body {
  font-family: 'Inconsolata', monospace;
  cursor: default;
  background-color: #fbfbfb;
  margin:0;
  padding:0;
}

h1 {
  color: #777;
}

header {
  font-size: 60px;
  font-weight: 400;
  line-height:1.5;
  letter-spacing: 2px;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: #2b97ef;
  background-color: rgba(77,171,247,.1);
  text-decoration: none;
}

a:hover {
  color: #777777;
  background-color: rgba(138, 140, 142,.1);
  transition: all .3s ease-in-out;
  text-decoration: none;
}

.title {
  padding-top: 20px;
  padding-left: 80px;
}

.arrow {
  position: absolute;
  top: 95%;
  left: 50%;
  transition: transform 1s ease-in-out;
}

.arrow_moved {
  transform: translate(0, 228%) rotate(180deg);
  -webkit-transform: translate(0, 228%) rotate(180deg);
      -ms-transform: translate(0, 228%) rotate(180deg);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.entry {
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 1.6;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.icons {
  font-size: 2em;
}

.content {
  margin: auto;
  width: 50%;
  padding-bottom: 100px;
  text-align: center;
}

.content a {
  color: rgba(138, 140, 142,.8);
  background-color: #fbfbfb;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out
}

.content a:hover {
  color: #2b97ef;
}
